*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
h1,h2,h3,h4,h5,h6,p{
    line-height: 0.8;
    margin: 0;
    padding: 0;
}
a{
    display: inline-block;
    text-decoration: none;
}
ul,ol{
    list-style-type: none;
}
.container{
    width: 1190px;
    margin: 0 auto;
}
.clr{
    clear: both;
}
/* .row{
    margin: 0;
    padding: 0;
}
.row .col{
    padding: 0;
    margin: 0;
} */
.section_header{
    text-align: center;
}
.section_header h2{
    font-size: 36px;
    font-weight: 500;
}
.section_header p{
    font-size: 16px;
    font-weight: 400;
    padding: 20px 150px;
    line-height: 1.5;
}

/* Header section */
header{
    padding: 35px 0 15px;
}
.header_wrapper{
    margin: 0;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}
.icon{
    width: 30px;
    height: 30px;
    background: #226bc4;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.header_item{
    display: flex;
    column-gap: 10px;
    align-items: center;
}
.header_item h6{
    font-weight: 500;
    padding-bottom: 10px;
}

/* Navbar section  */
.menu a{
    color: #000;
    font-weight: 600;
}
.social{
    display: flex;
    column-gap: 30px;
}
.social i{
    color: #000;
    font-size: 20px;
}

/* ============Banner section ================= */
#banner{
    padding: 175px 0;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background: url(../images/banner.jpg);
}

.banner_content{
    text-align: center;
}
.banner_content h1{
    font-size: 48px;
    line-height: 1.2;
}
.banner_content p{
    font-size: 18px;
    line-height: 1.5;
    padding: 30px 0;
}

.btn, .btn-large, .btn-small, .btn-flat {
    border-radius: 20px;
    display: inline-block;
    height: 36px;
    line-height: 36px;
    padding: 0 16px;
}

/* ==========service section============ */
#service .row .col{
    padding: 0;
}
.card{
    margin: 0;
    
}
.card.item1{
    background: #43b1d2;
}
.card.item2{
    background: #3fb6c6;
}
.card.item3{
    background: #3cbbbb;
}
.card.item4{
    background: #37c3a8;
}
.card .card-content {
    padding: 80px 24px 50px;
}
.card-content{
    text-align: center;
}
.sicon{
    /* margin: ; */
    margin: 0 auto;
    text-align: center;
    display: inline;
    height: 75px;
    width: 75px;
    background: #ffffff;
    border-radius: 50%;
    display: flex;
    align-items: center;justify-content: center;
}
.card .card-title {
    font-size: 24px;
    font-weight: 600;
}
.card-content p{
    line-height: 1.5;
}

/* ==============about us section============== */
#about_us{
    padding: 110px 0 40px;
    position: relative;
}
#about_us .section_header p{
    padding: 20px 150px;
}
.about_item_wrapper{
    padding-top: 80px;
}
.about_item_wrapper .left{
   padding-right: 70px;
}
.about_item_wrapper .right{
   padding-left: 70px;
}
.about_item_header{
    display: flex;
    align-items: center;
    column-gap: 20px;
    padding-bottom: 10px;
}
.about_icon{
    height: 70px;
    width: 70px;
    border-radius: 50%;
    background: #226bc4;
    display: flex;
    align-items: center;
    justify-content: center;
    /* float: left; */
}
.about_item p{
    line-height: 1.5;
    /* padding-right: 100px; */
}
.about_image{
    position: absolute;
    left: 50%;
    bottom: 0;
    transform: translateX(-50%);
    height: 470px;
}
.about_image img{
    display: block;
    height: 100%;
}

/* ==============Counter section=========== */
#counter{
    background: url(../images/counterbg.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    padding: 50px 0;
}
.counter_wrapper{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    text-align: center;
}
.counter_item i{
    font-size: 44px;
    color: #c7b299;

}
.counter_item span{
    display: block;
    font-family: 'Montserrat', sans-serif;
    font-size: 48px;
    font-weight: 300;
    color: #ffffff;
    padding: 10px 0 0px;
    position: relative;
}
.counter_item span::after{
    position: absolute;
    content: "";
    bottom: 0;
    left: 50%;
    height: 3px;
    width: 40px;
    background: #fff;
    transform: translateX(-50%);
}
.counter_item p{
    font-family: 'Montserrat', sans-serif;
    font-size: 18px;
    font-weight: 500;
    color: #ffffff;
    text-transform: uppercase;
    padding: 30px 0 0;
}

/* =============Work section========= */
#work{
    padding: 100px 0;
}
#work .section_header{
    text-align: left;
}
#work .section_header p{
    padding: 30px 0;
    width: auto;
}
.card_section{
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  justify-content: center;
}
.card_section a{
    margin-top: 20px;
}

.collapsible {
    border: none;
    margin: .5rem 0 1rem 0;
}
 .collapsible {
    -webkit-box-shadow: none;
    box-shadow: none;
}
.collapsible li{
    margin-bottom: 10px;
}
.collapsible-header {
    display: flex;
    align-items: center;
    column-gap: 20px;
    line-height: 1.5;
    padding: 5px;
    background-color: #32a0e0;
    border: none;
    border-radius: 50px;
    color: #ffffff;
    font-size: 24px;
}
.collapsible-header span{
    margin-left: 0px;
    height: 40px;
    width: 40px;
    color: #32a0e0;
    background: #ffffff;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}
.collapsible-header i {
    width: 1rem;
    font-size: 1rem;
    margin-left: 1rem;
}